.c-reply .comment-item .avatar-image {
  margin-right: 2px;
}

.c-reply {
  margin: 0 0 30px 80px;
}

.c-reply .comment-body {
  color: #737373;
}

.c-reply .reply-target {
  color: #222;
}

.c-reply .comment-item {
  margin: 5px 0 5px;
  padding: 0;
  border: none;
}