.comment-entry {
  padding: 10px;
  margin: 0 -10px 20px;
  background: #f1f1f1;
}

.comment-entry-header {
  margin-bottom: 5px;

}

.comment-entry-footer .btn {
  margin-top: 10px;
}

.comment-entry .form-group {
  margin-bottom: 5px;
}

.avatar-image
  vertical-align middle