.comment-item {
  border-bottom: 1px solid #ccc;
  margin-bottom: 20px;
  padding-bottom: 10px;
  position: relative;
}

.comment-header {
  font-size: 12px;
}

.comment-item .avatar-image {
  margin-right: 10px;
}

.comment-reply .comment-item .avatar-image {
  margin-right: 2px;
}

.comment-timestamp {
  color: #ccc;
}

.comment-reply .comment-body {
  color: #737373;
}

.comment-actions {
  margin-top: 5px;
}

.comment-voting {
  position: absolute;
  left: -50px;
  top: 0;
  width: 50px;
  text-align: center;
}

.comment-voting .down, .comment-voting .up {
  content: "\e093";
  position: relative;
  top: 0;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  display: block;
  color: #ccc;
  border: none;
  padding: 0;
  background: none;
  margin: 0 auto;
}

.comment-voting .up:before {
  content: "\e260";
}

.comment-voting .up:hover, .comment-voting .up.active {
  color: #54C28F;
}

.comment-voting .down:before {
  content: "\e259";
}

.comment-voting .down:hover, .comment-voting .down.active:hover {
  color: red;
}

.comment-voting .score {
  color: #aaa;
}

.comment-wrapper-has-reply > .comment-item {
  border-bottom: none;
  margin-bottom: 0;
  padding-bottom: 0;
}